.cabecalho {
	color: var(--branco);
	background-color: var(--azul-marinho);

	width: 100%;

	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	align-items: center;

	padding: .75rem 0;

	position: absolute;
}

.cabecalho__logo {
	width: 300px;
	margin-bottom: 1rem;
}

.cabecalho__navegacao {
	text-align: center;
}

.cabecalho__navegacao ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.cabecalho__link {
	padding: 18px;
}

.cabecalho__link:hover {
	transition: 0.5s;
	cursor: pointer;
	background-color: var(--background-hover);
	border-radius: 5px;
}

.cabecalho__link a {
	font-size: 1.1rem;
	color: var(--branco);
	text-decoration: none;
}

@media screen and (min-width: 480px) {
	.cabecalho__navegacao ul {
		flex-direction: row;
	}

	.cabecalho__link {
		margin: 0 0.5rem;
	}
}

@media screen and (min-width: 1024px) {
	.cabecalho {
		flex-direction: row;
		justify-content: space-around;
	}
}